
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="input-group rounded">
      <%= search_form_for @q, url: root_path do |form| %>
        <%= form.search_field :city_or_country_cont, class: "form-control", placeholder: "Search by city or country", aria: { describedby: "search-addon" } %>
        <%= form.submit "Search", class:"btn btn-primary", id: "search-addon" %>
      <% end %>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>

<br><br>
<div class="container">
  <div class="row">
    <%= @user.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <%= image_tag "userimage" %>
          <div class="card-body">
            <h5 class="card-title"><%= user.first_name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>

    <%end%>

  </div>
  <br><br>
</div>
